#carrossel h2{
    padding:3% 7%;
    color: blue;
    text-align: center;
    margin:4%;
}

    
    img{
        border-radius:10px;
        cursor: pointer;
        box-shadow: 5px 5px 5px 0 gainsboro;
        text-align: center;
    }

   
   
    

